{% extends "base.html.twig" %} {# details_user.html.twig est l'enfant de base.html.twig ??? #}

{% block title %}Détail de l'utilisateur {{user.firstname}} {{user.lastname}}{% endblock %}

{% block body %}
    <h1>Détail de l'utilisateur {{user.firstname}} {{user.lastname}}</h1>
    
    <h2>Liste des produits</h2>
    
    <ul>
        {% for product in user.products %}
            <li>{{ product.name }}</li>
        {% endfor %}
    </ul>
    {# TODO afficher les informations et produits de l'utilisateur #}
    <a href="{{ path('list_user') }}">Retour à la liste des utilisateurs</a>
{% endblock %}










